body{
	background-image: url('../images/bg_red.jpg') !important;
	background-size: 100%;
}

html, body{
  margin:0;
  padding:0;
  height:100%;
}
section {
  position: relative;
  border: 1px solid #000;
  padding-top: 37px;
  background: #500;
}
section.positioned {
  position: absolute;
  top:100px;
  left:100px;
  width:800px;
  box-shadow: 0 0 15px #333;
}
.containerContactForm {
  overflow-y: auto;
  height: 300px; 
}

.container{
  overflow-y: none;
}


table {
  border-spacing: 0;
  width:100%;
}
td + td {
  border-left:1px solid #eee;
}
td, th {
  border-bottom:1px solid #eee;
  background: #ddd;
  color: #000;
  padding: 10px 25px;
}
th {
  height: 0;
  line-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  color: transparent;
  border: none;
  white-space: nowrap;
}
th div{
  position: absolute;
  background: transparent;
  color: #fff;
  padding: 9px 25px;
  top: 0;
  margin-left: -25px;
  line-height: normal;
  border-left: 1px solid #800;
}
th:first-child div{
  border: none;
}





































.formtext{
	font-size:18px;
	color:white;
}
.fixedContainer{
 overflow-y: auto;
  height: 900px;
}
.locationmark{
	width: 100%;
    float: left;
    background-color: #FFF;
    text-align: center;
    color: #aa1f27;
    margin-top: -10px;
}
#tracker_location{
	margin-bottom: 15px;
    float: left;
    width: 100%;
    display: block;
}

.locationmark p{
	font-size: 16px;
}

.locationmark h1{
	font-size: 26px;
	color:#000;
}

.ui-content{
	padding: 0px;
}

#logologin{
	margin-top: 40px;
}

.loginform{
	margin-top: 35px;
}

.img-user{
	height: 50px;
}

.img-user-profile{
	height: 25px;
}
.img-user-contact{
	height: 25px;
}


.logininput{
	color:#FFF;
	height: 50px;
	background-color: inherit;
	border:0px;
	border-radius: 5px;
	background: url('../images/bg_input.png');
	width: 100%;
	padding-left: 20px;
	margin-left: -15px;
	font-size: 38px;
}

.myprofileinput{
	color:#FFF;
	height: 25px;
	background-color: inherit;
	border:0px;
	border-radius: 5px;
	background: url('../images/bg_input.png');
	width: 100%;
	font-size: 18px;
}



.contactinput{
	color:#FFF;
	height: 25px;
	background-color: inherit;
	border:0px;
	border-radius: 5px;
	background: url('../images/bg_input.png');
	width: 100%;
	font-size: 18px;
}


#textarea{
	color:#FFF;
	height: 70px;
	background-color: inherit;
	border:0px;
	border-radius: 5px;
	background: url('../images/bg_input.png');
	width: 100%;
	font-size: 18px;
}



.logcont{
	margin: 10px;
}

.loginbutton{
	background-color: #eaa7b2;
    width: 100%;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    color: #dd0330;
    font-size: 36px;
}

.updatebutton{
	background-color: #eaa7b2;
    width: 100%;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    color: #dd0330;
    font-size: 18px;
}

.contactbutton{
	background-color: #eaa7b2;
    width: 100%;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    color: #dd0330;
    font-size: 18px;
}

.division{
	margin-top:2px;
	margin-bottom:2px;
	
}

.logininput::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #FFF;
}

.actionbtns{
	text-align: center;
}

.actionbtns a{
	color: #FFF;
	display: block;
}

.actionbtns img{
	width: 120px;
}

.statsbg{
	background: url('../images/bg_input.png');
	color: #FFF;
	font-size: 18px;
	font-weight: bold;
	padding-left: 35px;
	margin-left: -15px;
}

.statserror{
	background-color: #FFF;
	color: #dc1f26;
	font-size: 18px;
	font-weight: bold;
	padding-left: 35px;
	margin-left: -15px;
}


.bottomaction{
	margin-top: 25px;
}

.dashmarg{
	margin-top: 25px;
}

#dashstats{
	margin-top: 15px;
}

.listTrackers{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.btnTrack{
	display: block;
    font-size: 20px;
    background-color: #FDF8F8;
    border-top: 1px solid #999;
    color: #AF3C43;
    padding: 10px;
}

#list_trackers{
	position: absolute;
    width: 100%;
    z-index: 1;
    background-color: #E04359;
}

#tblog{
	background-color: #FFF;
	margin-bottom: 75px;
}

#tblog tr td{
	border: 2px solid #D7032C;
}

#tblog tr th{
	border: 2px solid #D7032C;
	text-align: center;
}

.header{
    top: 0px;
    background-color: #FFF;
    width: 100%;
}

#tbheaderfixed{
	width: 100%;
	position: fixed;
	top:0px;
}

#tbheaderfixed > div{
    border: 2px solid #D7032C;
    border-right: 0px;
    float: left;
    background-color: #FFF;
    min-height: 38px;
    padding: 7px;
}


table.scroll {
    /* width: 100%; */ /* Optional */
    /* border-collapse: collapse; */
    border-spacing: 0;
    border: 2px solid black;
}

table.scroll tbody,
table.scroll thead { display: block; }

thead tr th { 
    height: 30px;
    line-height: 30px;
    /* text-align: left; */
}

table.scroll tbody {
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

tbody { border-top: 2px solid red; }

tbody td, thead th {
    /* width: 20%; */ /* Optional */
    border-right: 1px solid black;
    /* white-space: nowrap; */
}

tbody td:last-child, thead th:last-child {
    border-right: none;
}


#offlinediag{
	padding: 1px;
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
    background-color: #FFF;
    color: rgb(255, 124, 8);
}

#backcont{
	text-align: center;
    position: fixed;
    right: 0;
    height: 75px;
    bottom: 0px;
    z-index: 10;
    background-color: #D30229;
}

#listmoretracks{
	width: 100%;
    background-color: #FFF;
    color: #C90221;
    position: absolute;
    z-index: 1;
}

.imoretracks{
	padding: 5px;
}

.imoretracks img {
	height: 65px;
}

.imoretracks a{
	margin-left: 10px;
	color: #C90221;
}