*
{
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

#pumpicons{
	color:red;
}

input
{
-webkit-user-select: auto !important;
-khtml-user-select: auto !important;
-moz-user-select: auto !important;
-ms-user-select: auto !important;
user-select: auto !important;
}

body{
	background-image: url('../images/bg_red.jpg') !important;
	background-size: 100%;
}

html, body{
  margin:0;
  padding:0;
  height:100%;
}
section {
  position: relative;
  border: 1px solid #000;
  padding-top: 37px;
  background: #500;
}
section.positioned {
  position: absolute;
  top:100px;
  left:100px;
  width:800px;
  box-shadow: 0 0 15px #333;
}
.containerContactForm {
  overflow-y: auto;
  height: 400px; 
}


.iconlist:not(#pumptypeicon){
	width:70%;
	margin-left:18%;
}

.img-cintillo{
	width:80%;
}

.formtext{
	font-size:18px;
	color:white;
}
.fixedContainer{
 overflow-y: auto;
  height: 200px;
}
.locationmark{
	width: 100%;
    float: left;
    background-color: #FFF;
    text-align: center;
    color: #aa1f27;
    margin-top: -10px;
	
}

@media only screen and (max-width: 360px) {//media query para adaptar a diferentes resoluciones, en este caso 360px maxim
	
	.locationmark{
	width: 100%;
    float: left;
    background-color: #FFF;
    text-align: center;
    color: #aa1f27;
    margin-top: -29px;
	
}
	
}
#tracker_location{
	margin-bottom: 15px;
    width: 100%;
    margin-top: 0px;
    position: fixed;
    z-index: 12;
	height:80px;
}
#pumptypeicon{
	width:100%;
}

.locationmark p{
	font-size: 16px;
}

.locationmark h1{
	font-size: 26px;
	color:#000;
}

.ui-content{
	padding: 0px;
}

#logologin{
	margin-top: 40px;
}

.loginform{
	margin-top: 35px;
}

.img-user{
	height: 50px;
}

.img-user-profile{
width:100%;
}
.img-user-contact{
	height: 25px;
}


.logininput{
	color:#FFF;
	height: 50px;
	background-color: inherit;
	border:0px;
	border-radius: 5px;
	background: url('../images/bg_input.png');
	width: 100%;
	padding-left: 20px;
	margin-left: -15px;
	font-size: 18px;
}

.myprofileinput{
	color:#FFF;
	height: 25px;
	background-color: inherit;
	border:0px;
	border-radius: 5px;
	background: url('../images/bg_input.png');
	width: 100%;
	font-size: 18px;
}



.contactinput{
	color:#FFF;
	height: 25px;
	background-color: inherit;
	margin-bottom:10px;
	border:0px;
	border-radius: 5px;
	background: url('../images/bg_input.png');
	width: 100%;
	font-size: 18px;
}


#textarea{
	color:#FFF;
	height: 70px;
	background-color: inherit;
	border:0px;
	border-radius: 5px;
	background: url('../images/bg_input.png');
	width: 100%;
	font-size: 18px;
}



.logcont{
	margin: 10px;
}

.loginbutton{
	background-color: #eaa7b2;
    width: 100%;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    color: #dd0330;
    font-size: 36px;
}

.updatebutton{
	background-color: #eaa7b2;
    width: 75%;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
	margin-left:50px;
    color: #dd0330;
    font-size: 18px;
	margin-top:10px;
	
}

.contactbutton{
	background-color: #eaa7b2;
    width: 100%;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    color: #dd0330;
    font-size: 18px;
}

.division{
	margin-top:2px;
	margin-bottom:2px;	
}

.statsText{
	
	font-size:12px;
	height: 100%;
  line-height: 200%;
}

.logininput::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #FFF;
}

.actionbtns{
	text-align: center;
}

.actionbtns a{
	color: #FFF;
	display: block;
}

.actionbtns img{
	width: 120px;
}

.statsbg{
	background: url('../images/bg_input.png');
	color: #FFF;
	font-size: 18px;
	font-weight: bold;
	padding-left: 35px;
	margin-left: -15px;
}

.statserror{
	background-color: #FFF;
	color: #dc1f26;
    font-size: 18px;
	font-weight: bold;
	padding-left: 35px;
	margin-left: -15px;
}


.bottomaction{
	margin-top: 25px;
}

.dashmarg{
	margin-top: 10px;
}

#dashstats{
	margin-top: 5px;
}

.listTrackers{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.btnTrack{
	display: block;
    font-size: 20px;
    background-color: #FDF8F8;
    border-top: 1px solid #999;
    color: #AF3C43;
    padding: 10px;
}

#list_trackers{
	position: absolute;
    width: 100%;
    z-index: 1;
    background-color: #E04359;
}
#description{
	min-height: 70px;
	padding-top: 10px;	
}

#tblog{
  margin-top: 30px;
	background-color: #FFF;
}

#tblog tr td{
	border: 2px solid #D7032C;
}

#tblog tr th{
	border: 2px solid #D7032C;
	text-align: center;
}

#tblogheader{
  background-color: #FFF;
  border: 2px solid #D7032C;
  text-align: center;
  position: fixed;
  margin-top: -10px;
  z-index: 11;
}


#tblogheader tr th{
  text-align: center;
}

#view_tracker_status{
  padding-top: initial;
}

#contact-label{
	text-align: center;
	color: white;
	font-size: xx-large;
}

table.scroll {
    /* width: 100%; */ /* Optional */
    /* border-collapse: collapse; */
    border-spacing: 0;
    border: 2px solid black;
}

table.scroll tbody,
table.scroll thead { display: block; }

thead tr th { 
    height: 30px;
    line-height: 30px;
    /* text-align: left; */
}

table.scroll tbody {
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

tbody { border-top: 2px solid red; }

tbody td, thead th {
    /* width: 20%; */ /* Optional */
    border-right: 1px solid black;
    /* white-space: nowrap; */
}

tbody td:last-child, thead th:last-child {
    border-right: none;
}


#offlinediag{
	padding: 1px;
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
    background-color: #FFF;
    color: rgb(255, 124, 8);
}

#loadingdiag{
	padding: 1px;
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
    background-color: #FFF;
    color: rgb(255, 124, 8);
}

#backcont{
	text-align: center;
    position: fixed;
    right: 0;
    height: 75px;
    bottom: 0px;
    z-index: 10;
    background-color: #D30229;
}

#listmoretracks{
	width: 100%;
    background-color: #FFF;
    color: #C90221;
    position: relative;
    z-index: 11;
}

.imoretracks{
	padding: 5px;
}

#pumpstatuscont{
    position: relative;
}

.imoretracks img {
	height: 65px;
}

.imoretracks a{
	margin-left: 10px;
	color: #C90221;
}

.row{
  padding-left: 10px;
  padding-right: 10px;

}

#floattopheader{  
  position: fixed;
    width: 100%;
    background-color: #D20222;
    z-index: 15;
}